.book .book-body .page-wrapper .page-inner {
  max-width: 90%;
}
.book .book-body .page-wrapper .page-inner section.normal p, .book .book-body .page-wrapper .page-inner section.normal li, .book .book-body .page-wrapper .page-inner section.normal ul {
  margin-left: 30px;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
